<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <% if defined?(brick) %>
      <title><%= current_page.data.title %>: <%= brick.label %></title>
    <% elsif defined?(definition) %>
      <title><%= (definition.notation).upcase %>: <%= definition.output %></title>
    <% else %>
      <title><%= current_page.data.title %></title>
    <% end %>

    <%= stylesheet_link_tag "foundation", "app" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="row">
      <div class="large-12 columns">

        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text"><a href="/">StenoBricks</a></li>
              <li><a href="/bricks">Bricks</a></li>
              <li><a href="/definitions">Definitions</a></li>
            </ul>
          </div>
        </div>

        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'vendor/jquery.min', 'vendor/what-input.min', 'foundation.min', 'app' %>
  </body>
</html>
