---
title: Definition page
---

<h1 class="definition-title"><%= definition.output %></h1>

<img src="<%= path_to_svg(definition.notation, "definitions") %>"/>

<h2>Bricks</h2>

<%= partial('brick-list', locals: {bricks: definition.bricks}) %>

<% unless homographs.empty? %>
  <h2>Homographs</h2>

  <p>These words sound similar but are defined differently:</p>

  <%= partial('definitions-table', locals: {definitions: homographs}) %>
<% end %>

<% if synonyms.length > 1 %>
  <h2>Synonyms</h2>

  <p>We can produce the output "<%= definition.output %>" using any of these definitions:</p>

  <%= partial('definitions-table', locals: {definitions: synonyms, active: definition}) %>
<% end %>

<% unless collisions.empty? %>
  <h2>Collisions</h2>

  <p>
    The <%= definition.notation.upcase %> stroke produces the word "<%= definition.output %>".
    If you look at it another way, this stroke could have produced this/these word(s):
  </p>

  <ul class="word-list">
    <% collisions.sort.each do |word| %>
      <li><%= link_to_word(word) %></li>
    <% end %>
  </ul>
<% end %>
